attrs==21.4.0
build==0.7.0
coverage==6.3.2
-e git+ssh://Github/mtoboid/deborg.git@7f5c6a772297c945c3599fec4731c69b1ca803e5#egg=deborg
distlib==0.3.4
filelock==3.6.0
iniconfig==1.1.1
mock==4.0.3
packaging==21.3
pep517==0.12.0
pkg_resources==0.0.0
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
pytest-console-scripts==1.2.2
pytest-cov==3.0.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
tox==3.24.5
virtualenv==20.13.1
