Source: deborg
Maintainer: Tobias Marczewski (mtoboid) <vortex@e.mail.de>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-argparse-manpage,
 python3-setuptools
Standards-Version: 4.4.0
Homepage: https://github.com/mtoboid/deborg
X-Python3-Version: >= 3.8

Package: python3-deborg
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Extract deb package information from an emacs org file.
 Parse an emacs orgmode (.org) file which contains package specifications to
 extract packages depending on the tags 'distro' and 'release'. This information
 can then be used to install those packages with dpkg or apt. The org-file can
 contain other text and comments as only list entries will be treated as package
 information.